* {
  box-sizing: border-box;
}

.contenedor-tareas {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px black solid;
  padding: 20px;
  /* background-color: black; */
}

.tarea {
  border: 1px black solid;
  padding: 20px;
  display: grid;
}

.estatus {
  border: 1px black solid;
  width: fit-content;
  padding: 10px 5px;
  transition: all;
  animation-duration: 1s;
}
.estatus:hover {
  background-color: aqua;
}
